<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
  <p>This rendition of Splurty was built by <a target="_blank" href="https://github.com/holtpd">Patrick</a>
  </p>
  <br />
  <p>Patrick muddled his way through this lesson at a snails pace, but learned a ton about debugging.
  </p>
  <br />

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Obligatorypreshaveselfie.jpg', class: 'img-fluid' %>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Patrick Holt</h2>
    </div>

<br class="clear" />
<br />
<br />
<br />
<br />
</div>



